.mother {
    margin-left: 16px;
    margin-right: 16px;
    padding: 1em;
    display: flex;
    background-color: var(--dark_gray);
    flex-direction: row;
    height: fit-content;
    border-radius: 8px;
}

.headline {
    /* padding-left: 1em;
    padding-right: 1em; */
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    color: var(--main_content);
    background-color: rgb(66, 70, 78);
    border-radius: 8px;
}

.pick-halls {
    height: fit-content;
}

.btn-hall {
    background-color: grey;
}

.btn-hall-highlighted {
    background-color: lightcoral;
}

.btn-movie {
    background-color: rgb(125, 187, 184);
}

.btn-movie-highlighted {
    background-color: lightseagreen;
}

.schedule-list {
    background-color: var(--dark_gray);
    padding: 1em;
}

app-table {
    background-color: var(--dark_gray);
    padding: 1em;
}

input {
    min-width: 10em;
    text-align: center;
    background-color: var(--main_content);
    margin-bottom: 8px;
    border-radius: 4px;
}

.scheduleEntry-delitationMark {
    background-color: orange;
    color: rgb(131, 1, 1);
}

.conflict-msg {
    font-size: larger;
    font-weight: bold;
    background-color: yellow;
    color: red;
    border: solid 2px;
    padding: 1em;
    margin: 1em;
}

app-table {
    margin-left: 64px;
    min-width: 256px;
}

.add-schedule {
    margin-left: 64px;
}