<h1>Scheduler</h1>
<div class="mother">
    <div class="pick-halls">
        <div *ngFor="let hall of halls">
            <button class="btn-hall" (click)="pickHall(hall, $event)">{{hall.hallName}}</button>
        </div>
    </div>
    <div class="pick-movies">
        <div *ngFor="let movie of movies">
            <button class="btn-movie" (click)="pickMovie(movie , $event)">{{movie.movieTitle}}</button>
        </div>
    </div>
    <div class="schedule-list">
        <table class="schedule-table">
            <tr *ngFor="let scheduleEntry of scheduleEntries" [class]="scheduleEntry.classString">
                <td>{{scheduleEntry.hallString}}</td>
                <td>{{scheduleEntry.titleString}}</td>
                <td>{{scheduleEntry.durationString}}min</td>
                <td>{{scheduleEntry.dateString}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf="readyForSchedule" class="add-scedule">
        <p>Scheduling movie "{{movie?.movieTitle}}" in hall "{{hall?.hallName}}"</p>
        <input type="date" [value]="dateString" (change)="dateSelected($event)">
        <br>
        <input type="time" [value]="timeString" (change)="timeSelected($event)">
        <br>
        <button (click)="schedule()">schedule</button>
    </div>
</div>