<div class="mother">
    <h2>Schedules for {{infoDisplay}}</h2>
    <table>
        <tr>
            <td>{{colHeadline}}</td>
            <td>at</td>
        </tr>
        <tr *ngFor="let scheduleEntry of scheduleEntries">
            <td>{{scheduleEntry.displayString}}</td>
            <td>{{scheduleEntry.date}}</td>
        </tr>
    </table>

    <button *ngIf="!creatingSchedule" (click)="createSchedule()">Add schedule</button>
    <app-add-schedule *ngIf="creatingSchedule" [hall]="hall" [movie]="movie" [passScheduleCallback]="receiveAndSubmitSchedule"
        [cancelCallback]="createSchedule" [infoDisplay]="infoDisplay"></app-add-schedule>
</div>