.mother {
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.pick-halls {
    height: fit-content;
}

.btn-hall {
    background-color: grey;
}

.btn-hall-highlighted {
    background-color: lightcoral;
}

.btn-movie {
    background-color: rgb(125, 187, 184);
}

.btn-movie-highlighted {
    background-color: lightseagreen;
}

.schedule-list {
    background-color: var(--dark_gray);
    padding: 1em;
}

app-table {
    background-color: var(--dark_gray);
    padding: 1em;
}



.scheduleEntry-delitationMark {
    background-color: orange;
    color: rgb(131, 1, 1);
}

.conflict-msg{
    font-size: larger;
    font-weight: bold;
    background-color: yellow;
    color: red;
    border: solid 2px;
    padding: 1em;
    margin: 1em;
}
