<div class="grid-tool">
    <table>
        <tr>
            <th>Rows:</th>
            <th>
                <input type="number" [value]="numRows" (change)="updateRows($event)">
            </th>
        </tr>
        <tr>
            <th>Cols:</th>
            <th>
                <input type="number" [value]="numCols" (change)="updateCols($event)">
            </th>
        </tr>
    </table>
</div>

<div>
    <div class="cinema-hall-display">
        <app-cinema-hall-display [cinemaHall]="cinemaHall" ></app-cinema-hall-display>
    </div>
    <button>Normal</button>
    <button>Premium</button>
    <button>Handicap</button>
    <button>Update Database</button>
</div>