<h1 class="component-headline">Movie Editor</h1>
<div class="editor-content-cotainer">

    <div class="edited-item-container">
        <app-cinema-hall-display [cinemaHall]="cinemaHall"
            [parrentCallback]="seatClickedCallback"></app-cinema-hall-display>
    </div>
    <div class="editor-flex-padding">

    </div>
    <div class="tools">
        <div class="grid-tool">
            <h3>Configure Grid</h3>
            <label for="numRows">Rows:</label>
            <input name="numRows" type="number" [value]="numRows" (change)="updateRows($event)">
            <label for="numCols">Cols:</label>
            <input name="numCols" type="number" [value]="numCols" (change)="updateCols($event)">
        </div>

        <div class="seat-tool">
            <h3>Change Seat Category</h3>
            <button (click)="normalClicked()" style="color: var(--normal_seat_indicator);">Normal</button>
            <button (click)="handicapClicked()" style="color: var(--handicap_seat_indicator);">Handicap</button>
            <button (click)="premiumClicked()" style="color: var(--premium_seat_indicator);">Premium</button>
            <p class="tool-info" *ngIf="toolActive">{{toolType}} active</p>
            <p>
                Press a category button to activate a category tool.
                If a tool is active, you can click on a seat to turn it one of the
                active category
            </p>
        </div>

        <div class="features-tool">
            <h3>Configure Features</h3>
            <div class="checkbox-container">
                <input type="checkbox" id="dolby" name="dolby">
                <label for="dolby">Dolby Atmos</label>
                <br>
                <input type="checkbox" id="d3" name="d3">
                <label for="d3">3D</label>
                <br>
                <input type="checkbox" id="d4" name="d4">
                <label for="d4">4D</label>
            </div>
        </div>

        <div class="database-tool">
            <button (click)="printHallToJson()">Update Database</button>
        </div>
    </div>
</div>