.hallViewContainer {
    background-color: rgb(9, 34, 41);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    padding: 2em;
    padding-top: 1em;
    overflow-x: scroll;
}

.inner {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cinemaHall {
    padding: 1em;
    border: solid 4px rgb(51, 54, 63);
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(62, 83, 121);
}

.row {
    display: block;
    white-space: nowrap;
}

.seat {
    color: white;
    border-width: 0;
    background-color: unset;
    display: inline;
    width: fit-content;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0;
    padding: 0;
    margin: 0px;
}

.seat div img {
    size: 50%;
    padding: 0%;
    margin: 0;
}

.seat div {
    padding: 0%;
    width: 50px;
}



.seat:hover {
    background-color: lightblue;
}

.seat:active {
    background-color: gray;
}

.legend {
    margin-left: 1em;
}