<h1 class="main_headline">Movie Editor</h1>
<div class="edited-item-container">
    <app-movie-display [movie]="movie"></app-movie-display>
</div>
<div class="tools">
    <div class="name-tool">
        <label for="title">Name:</label>
        <input name="title" type="text">
    </div>
    <div class="age-tool">
        <label for="age">Age:</label>
        <input name="age" type="number">
    </div>
    <div class="duration-tool">
        <label for="duration">Duration:</label>
        <input name="duration" type="number">
    </div>
    <div class="description-tool">

    </div>
</div>