<div class="mother">
    <h4>Adding Schedule {{infoDisplay}}</h4>
    <select [selectedIndex]="selectedOption" (change)="optionSelected($event)">
        <option *ngFor="let op of options">{{op}}</option>
    </select>
    <br>
    <input type="date" [value]="dateString" (change)="dateSelected($event)">
    <input type="time" [value]="timeString" (change)="timeSelected($event)">
    <br>
<button (click)="generateAndPassSchedule()">submit</button>
<button (click)="cancelCallback()">cancel</button>