<!-- qick and dirty structure template -->
<div class="headbar">
  <h2 style="display:inline; margin-right: 30px;">placeholder headbar</h2>
  <button style="margin-right: 30px;" (click)="goToStart()">go to start</button>
  <button *ngIf="localUser && localUser.type == 'ADMIN'" (click)="navigateToManagmentView()" style="margin-right: 30px;">Manage Cinema</button>

  <div *ngIf="!localUser" ngbDropdown id="loginDropdown" #dropdownItem="ngbDropdown">
    <button class="btn btn-primary" id="gfg" ngbDropdownToggle>Login</button>
    <div ngbDropdownMenu="gfg" class="login">
      <app-login-dropdown [dropdownItem]="dropdownItem"></app-login-dropdown>
    </div>
  </div>
  <div *ngIf="localUser" ngbDropdown id="loginDropdown" #dropdownItem="ngbDropdown">
    <button class="btn btn-primary" id="gfg" ngbDropdownToggle>{{localUser.username}}</button>
    <div ngbDropdownMenu="gfg" class="login">
      <app-user-dropdown [dropdownItem]="dropdownItem"></app-user-dropdown>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<h4 style="margin-top: 10px; margin-bottom: 5px; color: cornflowerblue">temp links to test components</h4>
<button (click)="navigateToCinemaHallModule()">Navigate to cinema-hall-display-module</button> <br>
<button (click)="navigateToEditCinemaHall()">Navigate to edit-cinema-hall</button> <br>
<button (click)="navigateToMovieList()">Navigate to movie-list</button><br>
<button (click)="navigateToMovieDisplay()">Navigate to movie-display</button><br>
<button (click)="navigateToEditMovie()">Navigate to edit-movie</button>