.headbar {
    /* background-image: url("/assets/headbar_background.png"); */
    height: fit-content;
    padding: 1em;
    display: flex;
    background-color: var(--black);
    align-items: center;
}

h2 {
    color: var(--green);
    font-size: 2em;
    font-weight: bolder;
}

button {
    background-color: var(--green);
    color: rgb(42, 19, 107);
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    padding: 4px;
    
}

button:hover {
    background-color: rgb(80, 68, 0);
    color: rgb(202, 172, 1);
}

img {
    height: 80px;
    margin-right: 2em;
    border-radius: 8px;
}

.login {
    background-color: var(--dark_gray);
}

.space {
    flex-grow: 1;
}

.button-panel {
    display: flex;
    flex-direction: row;
}