<!-- qick and dirty structure template -->
<div class="headbar">
  <h2 style="display:inline; margin-right: 30px;">placeholder headbar</h2>
  <button style="margin-right: 30px;" (click)="goToStart()">go to start</button>
  <label style="margin-right: 10px;">if logged in as admin i see this button:</label>
  <button style="margin-right: 30px;">Go to managment view</button>
</div>

<router-outlet></router-outlet>

<h4 style="margin-top: 10px; margin-bottom: 5px; color: cornflowerblue">temp links to test components</h4>
<button (click)="navigateToCinemaHallModule()">Navigate to cinema-hall-display-module</button> <br>
<button (click)="navigateToEditCinemaHall()">Navigate to edit-cinema-hall</button>