<!-- qick and dirty structure template -->
<div class="headbar">+
  <img src="../assets/banner.png">
  <h2>Awesome Cinema</h2>
  <div class="space"></div>
  <div class="button-panel">
    <button (click)="goToStart()">Home</button>
    <button *ngIf="localUser && localUser.type == 'ADMIN'" (click)="navigateToManagmentView()">Manage Cinema</button>
  
    <div *ngIf="!localUser" ngbDropdown id="loginDropdown" #dropdownItem="ngbDropdown">
      <button class="btn btn-primary" id="gfg" ngbDropdownToggle>Login</button>
      <div ngbDropdownMenu="gfg" class="login">
        <app-login-dropdown [dropdownItem]="dropdownItem"></app-login-dropdown>
      </div>
    </div>
    <div *ngIf="localUser" ngbDropdown id="loginDropdown" #dropdownItem="ngbDropdown">
      <button class="btn btn-primary" id="gfg" ngbDropdownToggle>{{localUser.username}}</button>
      <div ngbDropdownMenu="gfg" class="login">
        <app-user-dropdown [dropdownItem]="dropdownItem"></app-user-dropdown>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>