<div class="mother">
    <app-movie-display [movie]="movie" class="movie-display"></app-movie-display>
    <div class="shop">
        <div>
            <app-table [header]="headline" [rows]="scheduleList" class="schedule-list"></app-table>
            <p *ngIf="scheduleList.length>0">Click row to select schedule</p>
            <button *ngIf="localUser && selectedSchedule" (click)="buyTicket()">Buy Tickets</button><br>
            <button *ngIf="localUser && rating == false" (click)="showRatingTool()">Rate & Comment</button>
        </div>

        <div class="my-rating" *ngIf="rating == true">
            <ngb-rating class="star"  [max]="5" [(rate)]="starsValue"></ngb-rating> <br>
            <textarea name="my-comment" id="myrating" cols="40" rows="5" maxlength="200" [value]="ratingComment" (input)="saveComment($event)"></textarea> <br>
            <button (click)="postRating()" *ngIf="starsValue>0">submit</button>
        </div>
    </div>
</div>