.mother {
    display: flex;
    flex-direction: row;
}

.movie-display {
    width: 70%;
}

.schedule-list {
    width: 30%;
    margin-right: 0;
}

/* .my-rating {
    display: flex;
    flex-direction: column;
} */