.mother {
    display: flex;
    flex-direction: row;
}

.movie-display {
    width: 70%;
}

.schedule-list {
    width: 30%;
    margin-right: 0;
}

/* .my-rating {
    display: flex;
    flex-direction: column;
} */

.shop {
    padding: 1em;
    margin: 1em;
    background-color: var(--dark_gray);
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.shop div {
    text-align: center;
    align-items: center;
}

app-table {
    align-self: center;
}

input {
    background-color: var(--main_content);
}