/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


:root {
    /* Backgrounds */
    --dark_blue: rgb(23, 46, 73);
    --dark_gray: rgb(51, 54, 63);
    --blue: rgb(62, 83, 121);


    /* Font colors */
    --main_headline: cornflowerblue;
    --section_headline: mediumseagreen;
    --main_content: beige;
    --sub_content: grey;
    --highlight: rgb(193, 255, 47);
    --error: coral;
    --danger: rgb(189, 29, 1);
    --ok_feedback: rgb(62, 170, 48);
    --border_color: rgb(11, 18, 29);

    /* seat category indicator colors */
    --normal_seat_indicator: rgb(21, 174, 206);
    --handicap_seat_indicator: rgb(255, 201, 0);
    --premium_seat_indicator: rgb(211, 16, 16);

}


body {
    background-color: var(--dark_blue);
    color: var(--main_content);
}

.component-headline {
    width: 100%;
    color: var(--main_headline);
    background-color: var(--dark_blue);
    text-align: center;
    padding: 0.5em;
}

/* Editors ---------------------------------------------------------------------------------------------------- */
.editor-content-cotainer {
    background-color: var(--dark_gray);
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}


.edited-item-container {
    overflow-x: scroll;
}

.editor-flex-padding {
    flex-grow: 1;
}

.tools {
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
}

.database-tool {
    margin-top: 2em;
    text-align: right;
}

.database-tool button {
    padding: 0.5em;
    background-color: var(--danger);
    color: beige;
    font-weight: bold;
    font-size: larger;
    border-radius: 0.25em;
    border-color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

h1 {
    color: var(--main_headline);
}

h2 {
    color: var(--main_headline);
}

h3 {
    color: var(--main_headline);
}

.main_headline {
    color: var(--main_headline);
}

.section_headline {
    color: var(--section_headline);
}

.sub_content {
    color: var(--sub_content);
}