<h3 class="headline">CINEMA HALLS</h3>
<div class="mother" >
    <table>
        <tr *ngFor="let cinemaHall of cinemaHalls">
            <th>
                {{cinemaHall.hallId}}
            </th>
            <th>
                {{cinemaHall.hallName}}
            </th>
            <th>
                <button (click)="editCinemaHall(cinemaHall)">edit</button>
            </th>
            <th>
                <button (click)="deleteHall(cinemaHall)">delete hall</button>
            </th>
        </tr>
    </table>
    <div class="space"></div>
    <button class="add" (click)="createNewHall()">+</button>
</div>
<div class="editor">
    <app-edit-cinema-hall *ngIf="editingHall" [cinemaHall]="activeHall" [onCreate]="loadHalls" [onUpdateDatabase]="hideEditor"></app-edit-cinema-hall>
</div>