<div class="mother">
    <h3>CINEMA HALLS</h3>
    <table>
        <tr *ngFor="let cinemaHall of cinemaHalls">
            <th>
                {{cinemaHall.hallId}}
            </th>
            <th>
                {{cinemaHall.hallName}}
            </th>
            <th>
                <button (click)="editCinemaHall(cinemaHall)">edit</button>
            </th>
            <th>
                <button (click)="deleteHall(cinemaHall)">delete hall</button>
            </th>
        </tr>
    </table>
    <button (click)="createNewHall()">+</button>
    <app-edit-cinema-hall *ngIf="editingHall" [cinemaHall]="activeHall" [onCreate]="loadHalls"></app-edit-cinema-hall>
</div>