<div class="mother">
    <div class="movie-main">
        <div>
            <img [src]="movie.poster">
        </div>

        <div class="info">
            <h2>{{movie.movieTitle}}</h2>
            <ngb-rating class="star" [max]=5 [(rate)]="rating" [readonly]="true"></ngb-rating>
            <span> ({{rateCount}})</span>
            <p>Age: {{movie.age}}+</p>
            <p>Duration: {{movie.duration}}min</p>
            <p>{{movie.description}}</p>
        </div>
    </div>
    <div class="movie-sub">
        <h4 class="section_headline">Ratings</h4>
        <div class="sub_content">
            <div *ngFor="let rating of movie.ratings">
                <div *ngIf="rating.description">
                    <ngb-rating [max]="5" [rate]="movie.ratings[0].stars" [readonly]="true"></ngb-rating>
                    <p>{{rating.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>