.mother {
    display: flex;
    flex-direction: column;
    padding: 1em
}

.movie-main {
    display: flex;
    flex-direction: row;
}

.info {
    margin-left: 2em;
}

.star {
    margin-bottom: 2em;
}

img {
    display: inline;
}