.mother {
    display: flex;
    flex-direction: column;
    padding: 1em
}

h2 {
    color: var(--main_content);
}

.movie-main {
    display: flex;
    flex-direction: row;
}

.info {
    margin-left: 2em;
}

.star {
    margin-bottom: 2em;
}

img {
    display: inline;
}