.mother {
    padding: 1em;
    display: flex;
}

img {
    float: left;
    display: inline;
}

h2 {
    color: var(--main_content);
}

.image{
    flex-basis: 40%;
}

/* .movie-main {
    display: flex;
    flex-direction: column;
} */

.info {
    margin-left: 2em;
}

.star {
    margin-bottom: 2em;
}

.movie-sub {
    margin-left: 40px;
}

